In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [3]:
# Read data
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [4]:
# Combine the data into a single dataset
study_df = pd.merge(mouse_metadata, study_results, how = "left", on = "Mouse ID")
# Display the data table for preview
study_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Checking the number of mice.
study_df["Mouse ID"].nunique()

249

In [10]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
duplicate_df = study_df[study_df.duplicated(subset=["Mouse ID","Timepoint"])]
duplicate_mouseid = duplicate_df.iloc[1,0]
duplicate_mouseid

'g989'

In [15]:
# Optional: Get all the data for the duplicate mouse ID.
duplicate_data_df = study_df.loc[study_df['Mouse ID'] == 'g989',:]
duplicate_data_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [17]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
index = study_df.loc[study_df['Mouse ID'] == 'g989'].index
clean_df = study_df.drop(index)

In [20]:
# Checking the number of mice in the clean DataFrame.
clean_df['Mouse ID'].nunique()

248

In [39]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
grouped_regimen = clean_df.groupby('Drug Regimen')
regimen_mean = grouped_regimen['Tumor Volume (mm3)'].sum()
regimen_median = grouped_regimen['Tumor Volume (mm3)'].median()
regimen_variance = grouped_regimen['Tumor Volume (mm3)'].var()
regimen_std = grouped_regimen['Tumor Volume (mm3)'].std()
regimen_sem = grouped_regimen['Tumor Volume (mm3)'].sem()
# Assemble the resulting series into a single summary dataframe.
regimen_summary = pd.DataFrame({"Mean":regimen_mean,
                                "Median":regimen_median,
                                "Variance":regimen_variance,
                                "Standard Deviation":regimen_std,
                                "SEM":regimen_sem
                               })
regimen_summary

                      Mean     Median   Variance  Standard Deviation       SEM
Drug Regimen
Capomulin      9355.420462  41.557809  24.947764            4.994774  0.329346
Ceftamin       9361.228582  51.776157  39.290177            6.268188  0.469821
Infubinol      9413.493529  51.820584  43.128684            6.567243  0.492236
Ketapril      10384.299876  53.698743  68.553577            8.279709  0.603860
Naftisol      10105.671026  52.509285  66.173479            8.134708  0.596466
Placebo        9780.078122  52.288934  61.168083            7.821003  0.581331
Propriva       7743.497619  50.446266  43.852013            6.622085  0.544332
Ramicane       9169.417875  40.673236  23.486704            4.846308  0.320955
Stelasyn       9816.199991  52.431737  59.450562            7.710419  0.573111
Zoniferol      9689.044192  51.818479  48.533355            6.966589  0.516398